<div class="update-product">
  <h3>Update Product</h3>
  <form (ngSubmit)="updateProduct()">
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" name="name" placeholder="Product Name" [(ngModel)]="productDetail.name" required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" rows="5" cols="50" placeholder="Add Your Product Description" [(ngModel)]="productDetail.description"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" name="price" placeholder="Price" [(ngModel)]="productDetail.price" required />
    </div>

    <div class="form-group">
      <label for="brand">Brand</label>
      <input type="text" name="brand" placeholder="Brand" [(ngModel)]="productDetail.brand" />
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" name="category" placeholder="Category" [(ngModel)]="productDetail.category" />
    </div>

    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input type="date" name="releaseDate" placeholder="Release Date" [(ngModel)]="productDetail.releaseDate" />
    </div>

    <div class="form-group">
      <label for="available">Available</label>
      <input type="checkbox" name="available" [(ngModel)]="productDetail.available" />
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" placeholder="Quantity" [(ngModel)]="productDetail.quantity" />
    </div>

    <button type="submit">Update Product</button>
  </form>
</div>
