<div class="product-list">
  <div class="product-card" *ngFor="let product of productList">
    <img [src]="product.image" alt="{{ product.name }}" />
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description}}</p>
      <span class="price">${{ product.price }}</span>
    </div>
    <button class="btn btn-primary" (click)="deleteProduct(product.productId)" >Delete</button>
    <button class="btn btn-primary" (click)="editProduct(product.productId)">Edit</button>
  </div>
</div>
