<div class="total-product">
  <h2>Total Products : </h2>
  <h2>{{totalProduct}}</h2>
</div>
<div class="product-list">
  <div class="product-card" *ngFor="let product of productList">
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Product Image" />
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description}}</p>
      <span class="price">${{ product.price }}</span>
    </div>
    <button class="btn btn-primary" (click)="deleteProduct(product.productId)" >Delete</button>
    <button class="btn btn-primary" (click)="editProduct(product.productId)">Edit</button>
  </div>
</div>
